{
  "parser": "@typescript-eslint/parser",
  "root": true,
  "ignorePatterns": ["projects/**/*", "!.storybook/typings.d.ts"],
  "settings": {
    "import/core-modules": ["rxjs/operators"]
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "parserOptions": {
        "project": ["tsconfig.*?.json"],
        "createDefaultProgram": true
      },
      "plugins": ["prettier", "lit"],
      "extends": ["plugin:@typescript-eslint/recommended", "plugin:lit/recommended", "prettier"],
      "rules": {
        "import/no-named-default": "off",
        "import/no-unresolved": "off",
        "import/prefer-default-export": "off",
        "class-methods-use-this": "off",
        "lines-between-class-members": "off",
        "semi": ["error", "always"],
        "@typescript-eslint/explicit-module-boundary-types": ["error"],
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": [
          "error",
          {
            "functions": false,
            "classes": true
          }
        ],
        "no-console": [
          "warn",
          {
            "allow": ["warn", "error"]
          }
        ],
        "no-underscore-dangle": [
          "error",
          {
            "allowAfterThis": true
          }
        ],
        "no-param-reassign": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "prefer-destructuring": "off"
      }
    }
  ]
}
