{
  "*.{js,json,md,html}": [
    "prettier --write"
  ],
  "*.{css,scss,sass}": [
    "prettier --write",
    "npm run lint-css"
  ],
  "*.ts": [
    "prettier --write",
    "eslint --max-warnings=5 --cache --fix"
  ]
}